# Stocks Price Prediction With LSTM

In [3]:
import numpy as np
import pandas as pd
import pandas_datareader as pdr
import matplotlib.pyplot as plt
import datetime as dt
import yfinance as yf

In [2]:
plt.style.use("fivethirtyeight")
%matplotlib inline

In [5]:
stock = "POWERGRID.NS"
start = dt.datetime(2000, 1, 1)
end = dt.datetime(2025, 8, 26)
data = yf.download(stock, start, end)

/tmp/ipykernel_32578/923481886.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(stock, start, end)
[*********************100%***********************]  1 of 1 completed

In [6]:
data.head()

Price             Close         High          Low         Open       Volume
Ticker     POWERGRID.NS POWERGRID.NS POWERGRID.NS POWERGRID.NS POWERGRID.NS
Date
2007-10-05    32.246155    35.098946    26.652761    28.784341    855215656
2007-10-08    30.595383    33.335985    30.403059    33.335985    126671715
2007-10-09    32.678890    32.967374    28.960645    30.611416    116725709
2007-10-10    32.983398    33.656530    32.694915    33.528313     67931378
2007-10-11    36.669582    38.464597    32.694909    38.464597    106320954

In [7]:
data.tail()

Price             Close         High          Low         Open       Volume
Ticker     POWERGRID.NS POWERGRID.NS POWERGRID.NS POWERGRID.NS POWERGRID.NS
Date
2025-08-19   288.000000   290.100006   286.549988   290.000000      7196772
2025-08-20   288.399994   289.000000   286.950012   288.200012      3106073
2025-08-21   284.000000   289.549988   283.600006   288.399994      7389271
2025-08-22   283.350006   284.549988   281.799988   284.000000      6824793
2025-08-25   284.149994   284.600006   282.200012   283.350006      7426789

In [8]:
data.shape

(4410, 5)

In [9]:
data.isnull().sum()

Price   Ticker
Close   POWERGRID.NS    0
High    POWERGRID.NS    0
Low     POWERGRID.NS    0
Open    POWERGRID.NS    0
Volume  POWERGRID.NS    0
dtype: int64

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4410 entries, 2007-10-05 to 2025-08-25
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   (Close, POWERGRID.NS)   4410 non-null   float64
 1   (High, POWERGRID.NS)    4410 non-null   float64
 2   (Low, POWERGRID.NS)     4410 non-null   float64
 3   (Open, POWERGRID.NS)    4410 non-null   float64
 4   (Volume, POWERGRID.NS)  4410 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 206.7 KB

In [11]:
data.describe()

Price         Close         High          Low         Open        Volume
Ticker POWERGRID.NS POWERGRID.NS POWERGRID.NS POWERGRID.NS  POWERGRID.NS
count   4410.000000  4410.000000  4410.000000  4410.000000  4.410000e+03
mean      88.773294    89.910392    87.653905    88.814441  1.192109e+07
std       76.605944    77.489116    75.698593    76.603952  2.018606e+07
min       18.827005    20.125419    16.879385    20.028038  0.000000e+00
25%       36.533516    37.079251    36.024959    36.580616  4.923597e+06
50%       66.064491    67.042116    65.232700    66.055691  8.525476e+06
75%       97.373302    99.375569    95.972287    97.651247  1.376872e+07
max      354.580750   355.356950   346.576122   353.222365  8.552157e+08

In [12]:
data = data.reset_index()

In [13]:
data.shape

(4410, 6)

In [14]:
data.head()

Price,Date,Close,High,Low,Open,Volume
Ticker,,POWERGRID.NS,POWERGRID.NS,POWERGRID.NS,POWERGRID.NS,POWERGRID.NS
0,2007-10-05,32.246155,35.098946,26.652761,28.784341,855215656
1,2007-10-08,30.595383,33.335985,30.403059,33.335985,126671715
2,2007-10-09,32.678890,32.967374,28.960645,30.611416,116725709
3,2007-10-10,32.983398,33.656530,32.694915,33.528313,67931378
4,2007-10-11,36.669582,38.464597,32.694909,38.464597,106320954

In [16]:
data.columns

MultiIndex([(  'Date',             ''),
            ( 'Close', 'POWERGRID.NS'),
            (  'High', 'POWERGRID.NS'),
            (   'Low', 'POWERGRID.NS'),
            (  'Open', 'POWERGRID.NS'),
            ('Volume', 'POWERGRID.NS')],
           names=['Price', 'Ticker'])